.img{
    width:100vw;
    height:100vh;
}
.box {
     position:relative;
}
.box .but{
   position:absolute;
   top:50%;
  
   text-decoration: none;
   left:40%;
}
.but button{
   padding:6px;
   margin:10px;
   text-decoration: none;
   border-radius: 15%;
   font-family: cursive;
   height:8vh;
   width:8vw;
}
button .link{
   color:white;
   text-decoration: none;
   
}
